<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>Web development crash course</h1>
    <p>Learn HTML and CSS with Le Wagon</p>
    <p><img src="https://tgenaitay.github.io/workshop-landing-donghua/images/QRCodeLeWagon.gif" width="150" height="150" /></p>
    <p>Join us in WeChat</p>
  </div>
</div>

