---
title: Le Wagon HTML/CSS workshop
---

<%= partial "components/banner" %>


<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <section class="readme-section">
        <h2 class="readme-header">0. Welcome aboard!</h2>
        <ul>
          <li>Please install <a href="https://www.sublimetext.com/">SublimeText</a> now. It's free.</li>
          <li>Programmers do not use Word or PPT, they need a text editor for code, markup and way more...</li>
          <li>Let's make your first web page, like the examples below. Go Go Go!!
          <div><a href="http://lewagon.github.io/html-css-challenges/04-advanced-selectors/">👉Example #1: Personal page</a></div>
          <div><a href="https://tgenaitay.github.io/xnode-landing/">👉Example #2: Business landing page</a></div>
          </li>
        </ul>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">1. Let's set up</h2>
        <ol>
          <li>Start Sublime Text. It will open a new black window.</li>
          <li>Create a <strong>folder</strong> <code>landing</code> on your Desktop. Drag & drop this folder in the Sublime Text window.</li>
          <li>
            In Sublime Text left navigation:
            <ul>
              <li>Right click <strong>"New file"</strong></li>
              <li>Save it as <code>index.html</code> with <strong>Cmd + S</strong> or <strong>Ctrl + S</strong></li>
              <li>Do the same to create a <code>style.css</code> file</li>
              <li>Then <strong>"New Folder"</strong> and create an <code>images</code> folder</li>
            </ul>
            </ul>
          </li>
          <li>Finally double click on <code>index.html</code> to open it with Chrome</li>
        </ol>

        <img src='images/setup.png' width="100%"/>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">2. Add some HTML content</h2>
        <ul>
          <li>
            To save time, just right-click on the following images and save them in your <code>images</code> folder
            <ul class="list-inline features">
              <li><img src="images/open.png" alt=""></li>
              <li><img src="images/meeting.png" alt=""></li>
              <li><img src="images/office.png" alt=""></li>
              <li><img src="images/event.png" alt=""></li>
            </ul>
          </li>
          <li>Then start with this HTML code in <code>index.html</code></li>
        </ul>
<% code("html") do %>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xnode playground landing</title>
  </head>
  <body>
    <h1>Xnode is so much more than a co-working space</h1>
    <p>This is also a place to learn to code..</p>

    <h2>Open seats</h2>
    <p>A very, <strong>very</strong> open space</p>
    <img src="images/open.png" alt="picture description">

    <h2>Meetings</h2>
    <p>A meeting place <strong>for your business</strong></p>
    <img src="images/meeting.png" alt="picture description">

    <h2>Offices</h2>
    <p>A workspace <strong>to rent</strong> for your team</p>
    <img src="images/office.png" alt="picture description">

    <h2>Events</h2>
    <p>A cool space <strong>to run your events</strong></p>
    <img src="images/event.png" alt="picture description">

    <p>This is a playground landing ©Le Wagon</p>
  </body>
</html>
<% end %>
        <h3>Go further at home</h3>
        <ul>
          <li>You can pick your icons on <a href="https://thenounproject.com/" target="_blank">The Noun Project</a> or <a href="http://iconmonstr.com/" target="_blank">IconMonstr</a>.</li>
          <li><strong>Tips</strong>: Also stay tuned checking <a href="https://www.producthunt.com/search?q=icons" target="_blank">icon resources on Product Hunt</a></li>
        </ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">3. CSS for fonts & colors</h2>
        <p>Link your stylesheet <code>style.css</code> in the <code>head</code> section of your HTML</p>


<% code("html") do %>
<head>
  <link href='style.css' rel='stylesheet'>
</head>
<% end %>
        <p>Then copy/paste the CSS code below in <code>style.css</code> and <strong>fix it</strong> cause it's ugly</p>
        <ul>
          <li>For fonts use <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a> (Requires VPN) - Google now directly serves the css and font files from Google’s servers <strong>in Beijing</strong>, which means Google Fonts are much more stable and faster to users in China now.</li>
          <li>For colors use <a href="http://www.colorzilla.com/chrome/" target="_blank">Colorzilla Chrome plugin</a> to pick colors from other websites</li>
          <li>You can also find beautiful colors on <a href="https://coolors.co/" target="_blank">Coolors</a> or <a href="http://colorhunt.co/" target="_blank">Color Hunt</a></li>
        </ul>
<% code("css") do %>
/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 15px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 25px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
}
img {
  width: 150px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">4. Wrap with <code>div</code></h2>
        <p>Wrap different sections in different <code>div</code></p>

<% code("html") do %>
  <!-- header -->
  <div>
    <h1>Xnode is so much more than a co-working space</h1>
    <p>This is also a place to learn to code..</p>
  </div>
  <!-- features -->
  <div>
    <h2>Open seats</h2>
    <p>A very, <strong>very</strong> open space</p>
    <img src="images/open.png" alt="picture description">
  </div>
  <div>
    <h2>Meetings</h2>
    <p>A meeting place <strong>for your business</strong></p>
    <img src="images/meeting.png" alt="picture description">
  </div>
  <div>
    <h2>Offices</h2>
    <p>A workspace <strong>to rent</strong> for your team</p>
    <img src="images/office.png" alt="picture description">
  </div>
  <div>
    <h2>Events</h2>
    <p>A cool space <strong>to run your events</strong></p>
    <img src="images/event.png" alt="picture description">
  </div>
  <!-- footer -->
  <div>
    <p>This is a playground landing ©Le Wagon</p>
  </div>
<% end %>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">5. Name your tags</h2>
        <ul>
          <li>Name your header and footer with <code>ids</code> like <code>id="header"</code> and <code>id="footer"</code></li>
          <li>Name your features with <code>classes</code> like <code>class="card"</code></li>
          <li>Then add this nice CSS code to your stylesheet</li>
        </ul>
<% code("css") do %>
#header{
  text-align: center;
  background-image: url("https://kitt.lewagon.com/placeholder/cities/shanghai");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.card{
  padding: 50px;
  font-weight: lighter;
}

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">6. Fontawesome</h2>
        <p>In your <code>head</code>, it's in your <code>head</code>!</p>
<% code("html") do %>
<head>
  <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.1.0/css/font-awesome.min.css">
</head>
<% end %>
        <p>And then in the footer</p>
<% code("html") do %>
<ul>
  <li><a href="#"><i class="fa fa-weibo"></i></a></li>
  <li><a href="#"><i class="fa fa-weixin"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-github"></i></a></li>
</ul>
<% end %>
        <p>With a bit of CSS style</p>
<% code("css") do %>
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
<% end %>
      </section>
<section class="readme-section">
        <h2 class="readme-header">7. Have fun with HTML&CSS!</h2>
        <ul>
          <li>We recommend you continue back home and <a href="https://www.codecademy.com/learn/learn-html-css">complete this free 101 course</a></li>
          <li>Want to learn much more, fast? <a href="https://www.lewagon.com/apply/shanghai">Applications start here</a></li>
          <li>If you appreciate this workshop, <a href="http://www.meetup.com/Le-Wagon-Shanghai-Coding-Station/">leave us a review on meetup!</a>♥</li>
        </ul>
</section>

      <section class="readme-section">
        <h2 class="readme-header">We need your feedbacks!</h2>
        <ul>
          <li>Our workshops are driven by your comments and suggestions. <br>Space, instructor, content, time... <strong>Please tell us what you think!</strong></li>
            <p class="text-center"><img src="images/feedbacks.png" alt="" class="QR"></p>
          <li>👆 If you'd like today's <strong>slides</strong>, please take 2 minutes to fill up this form! We'll send them over email. Win-win.</li>
        </ul>
      </section>
    </div>
  </div>
</div>
